[SMTP PII file sent]

# Alert action stuff
action.usecase                       = 0
action.usecase.enabled               = 1
action.usecase.category              = pii_monitoring
action.usecase.reference             = https://en.wikipedia.org/wiki/Extended_SMTP
action.usecase.kill_chain_phases     = Weaponization,Delivery
action.usecase.search_score          = 5
action.usecase.confidence            = high
action.usecase.known_false_positives = Some Unix SMTP servers will use enhanced SMTP commands that can trigger this event even though no malicious activity is present
action.usecase.remediation           = Block this activity at your email server using magic

# Normal saved search stuff
cron_schedule                        = */30 * * * *
disabled                             = False
dispatch.earliest_time               = -24h
dispatch.latest_time                 = +0s
enableSched                          = True
is_visible                           = false
search                               = | `tstats` values(sourcetype) from datamodel=Change_Analysis.All_Changes by All_Changes.Endpoint_Changes.Filesystem_Changes.file_hash | `tstats` append=true values(sourcetype) from datamodel=Email.All_Email by All_Email.file_hash | `tstats` append=true values(sourcetype) from datamodel=Malware.Malware_Attacks by Malware_Attacks.file_hash | `tstats` append=true values(sourcetype) from datamodel=Updates.Updates by Updates.file_hash | rename All_Changes.Endpoint_Changes.Filesystem_Changes.* as *,All_Email.* as *,Malware_Attacks.* as *,Updates.* as * | stats values(sourcetype) as orig_sourcetypes by file_hash | lookup threatintel_by_file_hash file_hash OUTPUT | search threat_collection_key=* | `zipexpand_threat_matches` | `makesv(orig_sourcetypes)`
description							 = This search does PII monitoring


## EXAMPLE EMPTY FIELDS
action.usecase                       = 0
action.usecase.enabled               = 1
action.usecase.category              =
action.usecase.reference             =
action.usecase.kill_chain_phases     =
action.usecase.search_score          =
action.usecase.confidence            =
action.usecase.known_false_positives =
action.usecase.remediation           =
search                               =
description                          =
dispatch.earliest_time               = -24h@h
dispatch.latest_time                 = 0