name: O365 Consent to application.
id: 0a15a464-ef51-4614-9a07-a216eb9817db
version: 1
date: '2024-07-18'
author: Patrick Bareiss, Splunk
description: Data source object for O365 Consent to application.
source: o365
sourcetype: o365:management:activity
separator: Operation
supported_TA:
- name: Splunk Add-on for Microsoft Office 365
  url: https://splunkbase.splunk.com/app/4055
  version: 4.5.2
fields:
- _time
- ActorContextId
- Actor{}.ID
- Actor{}.Type
- AzureActiveDirectoryEventType
- CreationTime
- ExtendedProperties{}.Name
- ExtendedProperties{}.Value
- Id
- InterSystemsId
- IntraSystemId
- ModifiedProperties{}.Name
- ModifiedProperties{}.NewValue
- ModifiedProperties{}.OldValue
- ObjectId
- Operation
- OrganizationId
- RecordType
- ResultStatus
- SupportTicketId
- TargetContextId
- Target{}.ID
- Target{}.Type
- UserId
- UserKey
- UserType
- Version
- Workload
- additionalDetails
- app
- authentication_service
- command
- date_hour
- date_mday
- date_minute
- date_month
- date_second
- date_wday
- date_year
- date_zone
- dest
- dest_name
- dvc
- event_type
- extendedAuditEventCategory
- host
- index
- linecount
- object
- punct
- record_type
- signature
- source
- sourcetype
- splunk_server
- status
- timeendpos
- timestartpos
- user
- user_agent
- user_agent_change
- user_id
- user_type
- vendor_account
- vendor_product
example_log: '{"CreationTime": "2023-09-05T21:05:31", "Id": "5822e126-1fbc-4269-9ad6-4c1879cdbcf3",
  "Operation": "Consent to application.", "OrganizationId": "9c00a473-1b2c-4bc2-9215-84df3f57aee5",
  "RecordType": 8, "ResultStatus": "Success", "UserKey": "1003BFFD98415B4E@contoso.onmicrosoft.com",
  "UserType": 0, "Version": 1, "Workload": "AzureActiveDirectory", "ObjectId": "95106c0e-3519-450e-8e38-7f326d873454",
  "UserId": "attacker@contoso.onmicrosoft.com", "AzureActiveDirectoryEventType": 1,
  "ExtendedProperties": [{"Name": "additionalDetails", "Value": "{\"User-Agent\":\"Mozilla/5.0
  (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0
  Safari/537.36\",\"AppId\":\"95106c0e-3519-450e-8e38-7f326d873454\"}"}, {"Name":
  "extendedAuditEventCategory", "Value": "ServicePrincipal"}], "ModifiedProperties":
  [{"Name": "ConsentContext.IsAdminConsent", "NewValue": "True", "OldValue": ""},
  {"Name": "ConsentContext.IsAppOnly", "NewValue": "False", "OldValue": ""}, {"Name":
  "ConsentContext.OnBehalfOfAll", "NewValue": "True", "OldValue": ""}, {"Name": "ConsentContext.Tags",
  "NewValue": "", "OldValue": ""}, {"Name": "ConsentAction.Permissions", "NewValue":
  "[] => [[Id: r2KtIS6Zn0q2wWeqbIputLSZcc5Sj_NGtUtP2B3pYeI, ClientId: 21ad62af-992e-4a9f-b6c1-67aa6c8a6eb4,
  PrincipalId: , ResourceId: ce7199b4-8f52-46f3-b54b-4fd81de961e2, ConsentType: AllPrincipals,
  Scope: User.Read, CreatedDateTime: , LastModifiedDateTime ]]; ", "OldValue": ""},
  {"Name": "TargetId.ServicePrincipalNames", "NewValue": "95106c0e-3519-450e-8e38-7f326d873454",
  "OldValue": ""}], "Actor": [{"ID": "attacker@contoso.onmicrosoft.com", "Type": 5},
  {"ID": "1003BFFD98415B4E", "Type": 3}, {"ID": "18ed3507-a475-4ccb-b669-d66bc9f2a36e",
  "Type": 2}, {"ID": "User_e4c722ac-3b83-478d-8f52-c388885dc30f", "Type": 2}, {"ID":
  "e4c722ac-3b83-478d-8f52-c388885dc30f", "Type": 2}, {"ID": "User", "Type": 2}],
  "ActorContextId": "9c00a473-1b2c-4bc2-9215-84df3f57aee5", "InterSystemsId": "e0fb6206-12db-4fdf-bf52-699b254124d3",
  "IntraSystemId": "897d35e6-e2dc-455e-ba65-e6d58adae01f", "SupportTicketId": "",
  "Target": [{"ID": "ServicePrincipal_21ad62af-992e-4a9f-b6c1-67aa6c8a6eb4", "Type":
  2}, {"ID": "21ad62af-992e-4a9f-b6c1-67aa6c8a6eb4", "Type": 2}, {"ID": "ServicePrincipal",
  "Type": 2}, {"ID": "TestApp2", "Type": 1}, {"ID": "95106c0e-3519-450e-8e38-7f326d873454",
  "Type": 2}, {"ID": "95106c0e-3519-450e-8e38-7f326d873454", "Type": 4}], "TargetContextId":
  "9c00a473-1b2c-4bc2-9215-84df3f57aee5"}'
