default:
  image: docker-hub.repo.splunkdev.net/python:3.9

stages:
  # - validate
  # - generate
  # - app_inspect
  - release

include:
  # - local: "pipeline/.validate.yml"
  # - local: "pipeline/.generate.yml"
  # - local: "pipeline/.app_inspect.yml"
  - local: "pipeline/.release.yml"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH