variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - ssa-validate

validate:
  stage: ssa-validate
  image: docker-hub.repo.splunkdev.net/alpine:3.7
  before_script:
    - apk add --update python3 python3-dev py-pip build-base openjdk8-jre && pip install virtualenv && rm -rf /var/cache/apk/*
    - pip3 install -r requirements.txt
  script:
    - python3 bin/validate_ssa.py --skip-error tests/*/*
