antlr4-python3-runtime==4.8
attackcti==0.3.6
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
iniconfig==1.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
mock==4.0.3
packaging==21.3
pluggy==1.0.0
prompt-toolkit==3.0.28
py==1.11.0
pycvesearch==1.1
pydantic==1.9.0
pyparsing==3.0.7
pytest==7.1.1
pytz==2022.1
PyYAML==6.0
questionary==1.10.0
requests==2.27.1
simplejson==3.17.6
six==1.16.0
stix2==3.0.1
stix2-patterns==1.3.2
taxii2-client==2.3.0
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
xmltodict==0.12.0
