aspy.yaml==1.3.0
autopep8==1.4.4
boto3==1.9.160
botocore==1.12.159
cached-property==1.5.1
cfgv==2.0.0
contextlib2==0.5.5
docutils==0.14
functools32==3.2.3.post2
futures==3.2.0
grammar-check==1.3.1
identify==1.4.3
importlib-metadata==0.17
importlib-resources==1.0.2
jmespath==0.9.4
jsonschema==3.0.1
nltk==3.4.1
nodeenv==1.3.3
pathlib2==2.3.3
pre-commit==1.16.1
pycodestyle==2.5.0
pyenchant==2.0.0
python-dateutil==2.8.0
PyYAML==5.1
s3transfer==0.2.0
scandir==1.10.0
singledispatch==3.4.0.3
six==1.12.0
toml==0.10.0
typing==3.6.6
urllib3==1.25.3
virtualenv==16.6.0
