This PR was created by Automated Detection Testing Service :robot:

Tested detections:

{% for result in results %}
{{ result.detection }} {% if result.error == 0 %}:white_check_mark:{% else %}:x:{% endif %}

- diskUsage: {{ result.results.diskUsage }}
- runDuration: {{ result.results.runDuration }}s
- scanCount: {{ result.results.scanCount }}

{% endfor %}
