/* .rTable {
  	display: table;
  	width: 100%;
}

.rTableRow {
  	display: table-row;
}

.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
}

.rTableCell, .rTableHead {
  	display: table-cell;
  	padding: 3px 10px;
  	//border: 1px solid #999999;
}

.rTableLeftCell {
  	display: table-cell;
  	padding: 3px 10px;
  	//border: 1px solid #999999;
	width: 200px;
}

.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
  	font-weight: bold;
}

.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}

.rTableBody {
  	display: table-row-group;
} */

h1 {
	font-size: 24px;
    font-weight: 200;
    margin: 0;
}

h3 {
	padding-left: 10px;
}

.as_title_attr_bar {
	padding-left: 15%;
    background-color: #eee;
    height: 40px;
	line-height: 40px;
	margin-bottom: 7px;
}

.as_title_attr {
	float: left;
	margin-right: 5%;
	padding-right: 20px;
	font-size: 14px;
}

.as_search_accordion {
	width: 100%;
	margin-top: 10px;
}

.as_story_details {
	display: flex;
	max-height: 500px;
	clear: both;
}

.as_story_details_left_col {
	float: right;
	width: 34%;
	display: block;
	overflow: scroll;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ddd;
}

.as_story_details_right_col {
	float: left;
	width: 60%;
	overflow: scroll;
	padding: 10px;
	margin: 10px;
	border: 1px solid #ddd;
}

.as_left_attr{
	display: inline-block;
	width: 100%;
}

.as_story_detail_left_attr_label {
	float: left;
	width: 30%;
	padding-top: 2%;
}

.as_story_detail_left_attr {
	margin-top: 5px;
	float: left;
	width: 70%;
}

.value_label {
	float: left;
    margin-right: 5px;
    background-color: #eee;
    padding: 4px;
	border-radius: 6px;
    margin-bottom: 5px;
}

.as_story_detail_right_attr_label {
	margin-bottom: 7px;
}

.search_content {
	display: flex;
	clear: both;
}

.search_left_panel {
	float: left;
	width: 70%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ddd;
}

.search_right_panel {
	float: left;
	width: 25%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ddd;
}

.search_left_attr {
	margin: 10px;
}

.search_right_attr {
	margin: 10px;
	display: table;
}

.search_string{
	padding: 10px;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.data_model_tag {
	background-color: #11a88b;
}

.kill_chain_tag {
	background-color: #ed8440;
	color: #303841;
}

.attack_tag {
	background-color: #3863a0;
	color: #eee;
}

.heading-story {
	width: 80%;
	float: left;
}

.run_story_btn {
	float: right;
}