---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

code,
samp {
  white-space: pre-wrap;
}

p > code,
li > code,
samp {
  border-radius: .25em;
  margin: 0 -.03125em;
  padding: .0625em .25em 0; /* breathing room for inline code that has a different background or an outline */
}

article {
  margin: 1em;
}

.highlight {
  margin: 1em -1em; /* -1em left/right margins for full-bleed code samples */
  padding: 1em;
}

.code-header {
  display: flex;
  justify-content: flex-end;
}
