name: Internal Host SSH Log4j Investigate
id: 49b2b88c-8e22-48a6-8808-ace1efcb194b
version: 1
date: '2021-12-14'
author: Philip Royer, Splunk
type: Investigation
description: Investigate an internal unix host using SSH. This pushes a bash script to the endpoint and runs it, collecting information specific to the December 2021 log4j vulnerability disclosure. This includes the java version installed on the host, any running java processes, and the results of a scan for the affected JndiLookup.class file or log4j .jar files.
playbook: internal_host_ssh_log4j_investigate
how_to_implement: The ssh asset requires sudo access to scan the whole file system.
references: ["https://github.com/Neo23x0/Fenrir/blob/master/fenrir.sh"]
app_list:
- "SSH"
tags:
  platform_tags: []
  playbook_type: Input
  vpe_type: Modern
  playbook_fields: []
  product:
  - Splunk SOAR
