name: Internal Host Splunk Investigate log4j
id: fc0adc66-ff2b-48b0-9a6f-63da6783fd63
version: 1
date: '2021-12-14'
author: Lou Stella, Splunk
type: Investigation
description: Published in response to CVE-2021-44228, this playbook utilizes data already in your Splunk environment to help investigate and remediate impacts caused by this vulnerability in your environment.
playbook: internal_host_splunk_investigate_log4j
how_to_implement: This playbook presumes you have Enterprise Security and have configured Assets & Identities, as well as the Endpoint.Processes datamodel
references: 
- https://www.splunk.com/en_us/blog/security/log-jammin-log4j-2-rce.html
app_list:
- "Splunk"
tags:
  analytic_story:
  - Log4Shell CVE-2021-44228
  platform_tags: []
  playbook_type: Input
  vpe_type: Modern
  playbook_fields:
  - hostName
  - destinationAddress
  product:
  - Splunk SOAR
