name: MS Graph for Office 365 Search and Purge
id: 5112d6ad-a8c4-47ed-b831-928ac1dff716
version: 1
date: '2024-02-03'
author: Lou Stella, Splunk
type: Response
description: Accepts an Internet Message ID, searches for its presence in each mailbox in the tenant, and then deletes the ones it finds. Microsoft does have a "soft-delete" option, messages run through the Message Eviction playbook will be recoverable.
playbook: MS_Graph_for_Office_365_Search_and_Purge
how_to_implement: This input playbook requires the MS Graph for Office365 connector to be configured.  Careful attention should be paid to the documentation for this connector's required permissions.
references: []
app_list: 
  - MS Graph for Office 365
tags:
  platform_tags:
    - message_eviction
    - message_identifier_activity
    - internet_message_id
    - ms_graph_for_office_365
  playbook_type: Automation
  vpe_type: Modern
  playbook_fields: []
  product:
  - Splunk SOAR
  use_cases:
  - Phishing
  defend_technique_id: 
    - D3-ER
    - D3-IAA