name: Office Application Drop Executable
id: 73ce70c4-146d-11ec-9184-acde48001122
version: 1
date: '2021-09-13'
author: Teoderick Contreras, Splunk
type: TTP
datamodel:
- Endpoint
description: This search is to detect a suspicious MS office application that drop or create executables or script in the host.
  This behavior is commonly seen in spear phishing office attachment where it drop malicious files or script to compromised the host.
  It might be some normal macro may drop script or tools as part of automation but still this behavior is reallly suspicious and not commonly seen 
  in normal office application
search: '`sysmon` EventCode=11 Image IN ("*\\winword.exe","*\\excel.exe","*\\powerpnt.exe","*\\mspub.exe","*\\visio.exe","*\\wordpad.exe","*\\wordview.exe")
  TargetFilename IN ("*.exe","*.dll","*.pif","*.scr","*.js","*.vbs","*.vbe","*.ps1") AND NOT(TargetFilename IN ("*\\program files*","*\\windows\\*"))
  | stats count min(_time) as firstTime max(_time) as lastTime by Image TargetFilename ProcessGuid dest user_id 
  | `security_content_ctime(firstTime)` 
  |`security_content_ctime(lastTime)` 
  | `office_application_drop_executable_filter`'
how_to_implement: To successfully implement this search, you need to be ingesting
  logs with the process name, parent process, and command-line executions from your
  endpoints. If you are using Sysmon, you must have at least version 6.0.4 of the
  Sysmon TA. Tune and filter known instances where renamed rundll32.exe may be used.
known_false_positives: office macro for automation may do this behavior
references:
- https://www.fireeye.com/blog/threat-research/2018/08/fin7-pursuing-an-enigmatic-and-evasive-global-criminal-operation.html
- https://attack.mitre.org/groups/G0046/
tags:
  analytic_story:
  - FIN7
  dataset:
  - https://media.githubusercontent.com/media/splunk/attack_data/master/datasets/malware/fin7/fin7_macro_js_1/sysmon.log
  kill_chain_phases:
  - Exploitation
  mitre_attack_id:
  - T1566.001
  product:
  - Splunk Enterprise
  - Splunk Enterprise Security
  - Splunk Cloud
  required_fields:
  - _time
  - Image 
  - TargetFilename
  - ProcessGuid 
  - dest
  - user_id 
  security_domain: endpoint
  impact: 80
  confidence: 80
  # (impact * confidence)/100
  risk_score: 64
  context: 
  - Source:Endpoint
  - Stage:recon
  message: process $process_name$ drops a file $TargetFilename$ in host $dest$
  observable:
  - name: Computer
    type: Hostname
    role:
    - Victim
  - name: process_name
    type: process name
    role:
    - Attacker
  